.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 32px;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
}
p{
  margin:30px 0px;
}
.skos-concept-connected{
  max-height:none;
}
