<div class="row">
  <div class="col-md-6">

    <div class="top top-alt">
        <span ng-if="notation.length" class="notation">{{notation[0]}}</span>
        <b>
            <span ng-if="prefLabel" skos-label="concept.prefLabel" lang="{{language}}"></span>
        </b>

        <span ng-if="!prefLabel && !altLabel && !notation.length">???</span>
        <a ng-if="uri && uri != notation" class="uri" href="{{uri}}" target="_blank">
            <span class="glyphicon glyphicon-tower"></span>
        </a>
    </div>
    <div ng-if="altLabel" class="skos-concept-altlabel">
        <ul>
            <li ng-repeat="a in altLabel[language]">
                <span ng-if="$index < 5">{{a}}</span>
                <span style="margin-left:-4px;margin-right:3px;" ng-if="$index < 4 && $index < altLabel[language].length-1">, </span>
            </li>
        </ul>
    </div>

  </div>
  <div class="col-md-6">

    <div ng-if="startDate || endDate">
      <span class="glyphicon glyphicon-time"></span>
      {{startDate}}-{{endDate}}
    </div>

    <!-- TODO: select by language, only show a limited number -->
    <div skos-notes="concept" lang="{{language}}"></div>
   
  </div>
</div>


<div class="row" ng-if="broader.length">
  <div class="col-md-12">
    <ul class="list-group">
      <li ng-repeat="c in broader" class="list-group-item">
        <span class="glyphicon glyphicon-arrow-up" style="float:left; padding-right: 5px" title="broader concept"></span>
        <span skos-concept="c" skos-click="click" template-url="sub-concept.html"/>
      </li>
    </ul>
  </div>
</div>

<div class="row" ng-if="narrower.length">
  <div class="col-md-12">
    <ul class="list-group">
      <li ng-repeat="c in narrower" class="list-group-item">
        <span class="glyphicon glyphicon-arrow-down" style="float:left; padding-right: 5px" title="narrower concept"></span>
        <span skos-concept="c" skos-click="click" template-url="sub-concept.html"/>
      </li>
    </ul>
  </div>
</div>

<div class="row" ng-if="previous.length || next.length">
  <div class="col-md-6">
    <div ng-if="previous.length">
      <ul class="list-group">
        <!-- TODO: use bootstrap linked list instead -->
        <li ng-repeat="c in previous" class="list-group-item">
          <span class="glyphicon glyphicon-arrow-left" style="float:left; padding-right: 5px" title="previous concept"></span>
          <span skos-concept="c" skos-click="click" template-url="sub-concept.html"/>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6" ng-if="next.length">
    <ul class="list-group">
      <li ng-repeat="c in next" class="list-group-item">
        <span class="glyphicon glyphicon-arrow-right" style="float:right" title="next concept"></span>
        <span skos-concept="c" skos-click="click" template-url="sub-concept.html"/>
      </li>
    </ul>
  </div>
</div>

<div class="row" ng-if="related.length || relatedPlace.length">
  <div class="col-md-12">
    <ul class="list-group" ng-if="related.length">
      <li ng-repeat="c in related" class="list-group-item">
        <span class="glyphicon glyphicon-hand-right" style="float:left; padding-right: 5px" title="related concept"></span>
        <span skos-concept="c" skos-click="click" template-url="sub-concept.html"/>
      </li>
    </ul>
    <ul class="list-group" ng-if="relatedPlace.length">
      <li ng-repeat="c in relatedPlace" class="list-group-item">
        <span class="glyphicon glyphicon-globe" style="float:left; padding-right: 5px" title="related concept"></span>
        <span skos-concept="c" skos-click="click" template-url="sub-concept.html" />
      </li>
    </ul>
  </div>
</div>


