.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 32px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  border-top: 12px solid rgb(103, 145, 201);
}

/* loading bar */
#loading-bar .bar, #loading-bar .peg, #loading-bar-spinner {
  position: relative;
}

table{
  margin:10px;
  border-spacing:0px 20px;
}
th{
  white-space: nowrap;
  padding-right: 10px;
  vertical-align: top;
}

td th{
  padding-top:5px;
}