.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 32px;
}

/* sticky footer */
footer.navbar-fixed-bottom {
  background-color: #577FBB;
  color: #fff;
  min-height: 0px;
}
footer.navbar-fixed-bottom a, 
footer.navbar-fixed-bottom a:hover,
footer.navbar-fixed-bottom a:visited {
  color: #fff;
}

/* loading bar */
#loading-bar .bar, #loading-bar .peg, #loading-bar-spinner {
  position: relative;
}

/* table with scheme information */
.table-more-condensed {
    width: auto !important;
}
.table-more-condensed th, .table-more-condensed td { 
    border-top: none !important; 
}

/* button with big icon */
.big-text-button {
  font-size: 20px;
  padding: 2px 8px;
}

/* more condense elements in concept browser */
.concept-browser {
  margin: 1em;
}
.concept-browser .list-group-item {
  border: none;
  padding: 5px 7px
}
.concept-browser .list-group {
  margin-bottom: 0px
}

